.createArticlePage {
  padding: 20px;
}
.createArticlePage h1 {
  text-align: right;
  margin: 40px 0;
  font-size: 18px;
  font-weight: 300;
}
.inputWrapper {
  margin-bottom: 20px;
}
.inputWrapper label {
  display: block;
  margin-bottom: 5px;
  text-align: right;
}
.inputWrapper input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: right;
  position: relative;
  margin: auto;
}
